ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

li a{
float: left;
margin-left: 50px;
margin-right: auto;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 1.5em;
}

li a:hover {
  background-color: rgba(117, 117, 117, 0.315);
}

hr{
  margin-left: 50px;
  margin-right: 50px;
}

h1{
margin-left: auto;
margin-right: auto;
letter-spacing: 2.5px;
text-align: center;
}

p1{
float: left;
margin-left: 10%;
margin-right: auto;
font-size: 1.5em;
letter-spacing: 2px;
width: 650px;
text-align: center;
line-height: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center2{
  
  float: center;
  vertical-align: center;
  margin-left: 7%;
  margin-right:7%;
}

div1 {
  width: 200px;
  padding: 10px;
  border: 2px solid black;
  font-size: 1.25em;
  text-align: center;
}

div1{
display: block;  
float: center;
margin-left: auto;
margin-right: auto;
width: 15%;
}

div1:hover{
  background-color: rgba(117, 117, 117, 0.315);
  border: 2px solid rgba(3, 3, 3, 0.61);
}
