ul {
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

li a{
float: left;
margin-left: 40px;
margin-right: auto;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 1.5em;
}

li a:hover {
  background-color: rgba(117, 117, 117, 0.315);
}

hr{
  height: 2px;
  background: black;
  margin-left: 50px;
  margin-right: 50px;
}

h1{
margin-top: 50px;
letter-spacing: 2.5px;
text-align: center;
}

/* style for company description statement 
   alignment is not fixed for some reason;
   resizing the screen will cause the words to move
   from the center*/
p1{
float: left;
margin-left: 33%;
margin-right: auto;
font-size: 1.5em;
letter-spacing: 2px;
text-align: center;
width: 650px;
line-height: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center2{
  
  float: center;
  vertical-align: center;
  margin-left: 7%;
  margin-right:7%;
}

/* Sign Up button */
div1 {
  width: 200px;
  padding: 10px;
  border: 2px solid black;
  font-size: 1.25em;
  text-align: center;
}

/* Sign Up button */
div1{
display: block;  
float: center;
margin-left: auto;
margin-right: auto;
width: 15%;
}

div1:hover{
  background-color: rgba(117, 117, 117, 0.315);
  border: 2px solid rgba(3, 3, 3, 0.61);
}
/* style for images on 'Resources' page. */
figure.img {
  display: inline-block;
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
}
/* style for captions below images in 'Resources' page. */
.caption {
  display: block;
  padding-left: 60px;
}
.learn {
  width: 250px;
  padding: 5px;
  display: block;
  border: 2px solid black;
  margin-top: 100px;
  margin-left: 150px;
}
.learn:hover{
  background-color: rgba(117, 117, 117, 0.315);
}
/* alignment for captions and images in 'Resources' page. */
div2 {
  margin-left: 40px;
}

/* style for signup caption */
p{
  text-align: center;
}


